#dialogAccountForm {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
    font-size: 20px;
}

.form-account {
    position: relative;
    width: 47.5%;
    height: 100%;
    background-color: #fff;
    float: right;
    padding:0 16px;


    
}
.main.form-account {
    width: 99%;
}
.header-form-account{
    display:flex;
    height: 69px;
    width: 100%;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 20px;
}
.title-header-form{
    font-size: 24px;
    font-weight: 600;
}
.icons-header-form{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 78px;
    font-size: 30px;
}
.icon-query-form-account{
    background: url('../../assets/img/Sprites.88b1c3bd.svg') no-repeat -89px -145px;
	width: 22px;
	height: 22px;
    margin-right: 1em;
}
.icon-close-form-account{
    background: url('../../assets/img/Sprites.88b1c3bd.svg') no-repeat -147px -147px;
	width: 18px;
	height: 18px;
}
.box-item-form-account{
    width: 100%;
    height: 64px;
    margin-bottom:12px;
    display:flex;
    align-items: center;
    justify-content:start;
}
.input-form-account{
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #babec5;
    outline: none;
    padding: 0 12px 0 10px;
    color: #111111;
}
.required-form-account{
    position: relative;
    top:3px;
}
.name-input-accout{
    font-size:12px;
    margin-bottom:5px;
    font-weight: 700;
}
.input-number-accout .input-form-account{
    width: 178px;
    height: 32px;
}
.input-name-accout .input-form-account{
    width: 368px;
    height: 32px;
}
.input-name-accout .input-form-account:last-child{
    width: 380px;
}
.input-name-accout:first-child{
    position: relative;
    top:-1px;
}
.input-combobox-accout:first-child{
    position: relative;
    top: 1px;
}
.input-form-accout{
    margin-right: 12px;

}
.form-combobox-accoumt{
    display: flex;
    position: relative;
    width: 175px;

}
.form-combobox-accoumt .box-icon-choice-number{
    position:absolute;
    right: 0px;;
}
.form-combobox-accoumt .box-icon-choice-number:hover{
    border-style: solid;
    border-color: #babec5 ;
    border-width: 1px 1px 1px 0;
}
.choice-current-account{
    width: 175px;
    height: 30px;
    padding: 0 0 0 10px;
    border:1px solid #babec5;
    border-radius: 2px;
    outline: none;
}
.label-account{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;

}
.label-code-account{
    padding: 0 10px;
    width: 112px;
    background-color:#f4f5f8;
    height: 32px;
    line-height:32px;
    font-size: 14px;

}
.label-name-account{
    width: 283px;
    padding: 0 10px;
    background-color:#f4f5f8;
    height: 32px;
    line-height:32px;
    font-size: 14px;
}
.choices-account{
    position:absolute;
    top:32px;
    border:1px solid #babec5;
    width: 380px;
    display:none;

}
.choice-account-item-combobox{
    display: flex;
    align-items: center;
}
.choice-account-item-combobox:hover{
    background-color:#e5e5e5
    
}
.choice-account-item-combobox:hover .choice-code-account,
.choice-account-item-combobox:hover .choice-name-account{
    cursor: pointer;
    color: #35bf22;
}
.choice-code-account{
    width: 100px;
    padding:0 10px;
    height: 32px;
    line-height:32px;
    text-align: center;
    
}
.choice-name-account{
    width: 280px;
    padding:0 10px;
    height: 32px;
    line-height:32px;
}

div#natureComboboxAccount {
    width: 175px;
}
#natureComboboxAccount .choices-number-employee {
    width: 175px;
}
#natureComboboxAccount .choice-number-item{
    width:172px;
}
#natureComboboxAccount .choices-number-employee{
    top: 32px;
    display:none;
}
.input-reason-accout .input-form-account{
    width: 770px;
    height: 55px;
}
textarea.input-form-account {
    padding: 9px;
}