.m-item-navbar {
  width: 178px;
  height: 42px;
  border-left: 6px solid #38393d;
  padding: 0 14px 0 8px;
  color: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  font-weight: 400;
  cursor: pointer;
  line-height: 42px;
  text-decoration: none;
}
.m-item-navbar:hover {
  background-color: #58595d;
  border-color: #58595d;
}
.m-item-navbar.active{
    background-color: #58595d;
    font-weight: 700;
    border-color: #2ca01c;
}
.name-item {
  color: #fff;
}
.logo-item {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.item-2{

    background-image: url(../../assets/img/Sprites.64af8f61.svg);
    background-position: -73px -1585px;
}




