.m-grid-tbl {
  width: 100%;
  overflow: hidden;
  height:calc(100% - 100px)
}
.m-grid-table {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.m-table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}
ul {
  padding: 0px;
}
.m-table th {
  border-right: 1px solid #ccc;
  padding: 0 10px;
  height: 34px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  background-color: #e5e8ec;
}
thead tr:first-child th {
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid #ccc;
}
th:last-child {
  border-right: none;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
.action-employee {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}
.tbody tr {
  height: 44px;
}

.tbody tr td {
  padding: 0 10px;
  border: 1px solid #ccc;
}
.tbody tr td:first-child {
  border-left: none;
}
.tbody tr td:last-child {
  border-right: none;
}
.icon-action {
  background: url("../../assets/img/Sprites.88b1c3bd.svg") no-repeat -896px -359px;
  width: 16px;
  height: 16px;
  margin-left: 15px;
}
.default-action {
  color: #0075c0;
  position: relative;
  font-weight: 600;
}
.choice-action {
  position: absolute;
  font-weight: 300;
}
ul.choice-action {
  width: 60px;
  height: 24px;
  border: 1px solid #ccc;
  padding: 2px;
  position: absolute;
  left: 10px;
  top: 20px;
  display: block;
  background-color: #fff;
  border-radius: 3px;
  display: none;
}
li.choice-action-item {
  list-style-type: none;
  text-align: center;
}

li.choice-action-item:hover {
  color: rgb(39, 147, 39);
  background-color: #ccc;
}
tr.active {
  background-color: #f2f9ff;
}
.form-bank .btn {
  margin-top:6px;
  background-color: #fff;
  outline: none;
  border: 1px solid #8d9096;
  border-radius: 3px;
  min-width:100px;
  height: 24px;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 700;
  padding: 2px 20px;
}
.main span.icon-table-td{
  background: url('../../assets/img/Sprites.64af8f61.svg') no-repeat -370px -146px;
	width: 20px;
	height: 20px;
  display: inline-block;
  margin-right: 8px;
}
tr.main td{
  font-weight: 700;
  font-size: 14px;
}
tr.main td:first-child{
  display:flex;
  align-items: center;
  justify-content: start;
  height: 44.5px;
  border: none;
}
tr.main td:first-child{
  text-align:left;
}
tr td:first-child{
  text-align:center;
}


/* tables aciton money */
#actionMoney.main-content{
  margin-right: 29px;
  position: relative;
}
#actionMoney.main-content{
  height: calc(100% - 235px);
}
.icon-setup{
  background: url('../../assets/img/Sprites.88b1c3bd.svg') no-repeat -676px -30px;
	width: 23px;
	height: 24px;
  margin-left: 10px;
  opacity: 0.8;
}
.icon-excel{
  background: url('../../assets/img/Sprites.88b1c3bd.svg') no-repeat -1265px -90px;
	width: 23px;
	height: 20px;
  margin-left: 10px;
  opacity: 0.7;
}
.icon-setup:hover, .icon-excel:hover{
  opacity: 1;
  cursor: pointer;
}
#actionMoney .icon-check-all{
  background: url('../../assets/img/Sprites.88b1c3bd.svg') no-repeat -259px -147px;
	width: 18px;
	height: 18px;
  margin-right: 20px;
  margin-left: 10px;
  position: relative;
  bottom:-8px;
}
#actionMoney .main-content-left{
  display: flex;
  align-items: center;
}
.convenient-header.convenient-header-2{
  min-width: 85px;
}
.box-icon-arrow-up-table{
  width: 26px;
  height: 26px;
  background-color: #f2f5f8;
  border:2px solid #e2e9f2;
  position:absolute;
  top: -10px;
  right: -10px;
  display: flex;
}
.icon-arrow-up-table{
  background: url('../../assets/img/Sprites.88b1c3bd.svg') no-repeat -130px -364px;
	width: 12px;
	height: 7px;
  margin:auto;
  
}